body {
    font-family: 'Lobster', cursive;
    background-image: url("../assets/site/pagUsuario.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.linha-vertical{
    height: 320px;/*Altura da linha*/
    border-left: 2px solid #800000;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.jarallax {
    position: relative;
    z-index: 0;
}

#dadosPessoais, #edicaoUsuario, #cadastroVinho, #trocaSenha, #edicaoPerfil {
    color: white;
    background-color: #800000;
}