body {
    font-family: 'Lobster', cursive;
    background-image: url("../assets/site/catalogoVinho.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

#setCardPadrao {
    background-color: #800000;
    color: white;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.linha-vertical{
    height: 320px;/*Altura da linha*/
    border-left: 2px solid #800000;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

@media (max-width: 792px){
    .linha-vertical {
        display: none;
    }
}